:root {
    --color-light: #D9D9D9;
    --color-dark: #000000;
    --button-bg: #F6D0E3;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--color-dark);
    overflow: hidden;
}

.outer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.container {
    display: block;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

canvas {
    width: 23vw;
    height: 23vw;
    margin: -1.5vw;
}

.buttons-container {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.button-left {
    border: 1px solid var(--color-light);
    background: none;
    color: var(--color-light);
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.button-left:hover {
    transform: rotate(-10deg);
}

.button-left:active {
    transform: rotate(-35deg);
}

.button-right {
    border: 1px solid var(--color-light);
    background: var(--color-light);
    color: var(--color-dark);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    border: none;
    transition: transform 0.3s ease;
}

.button-right:hover {
    transform: rotate(10deg);
}

.button-right:active {
    transform: rotate(35deg);
}

.button-theme {
    position: absolute;
    right: -25vw;
    width: 1rem;
    height: 1rem;
    background: var(--button-bg);
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.button-theme:active {
    transform: scale(0.8);
}

.github-link {
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color-light);
    text-decoration: underline;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    text-align: center;
}

@media (max-width: 600px) {
    .outer-wrapper {
        height: 95vh;
        width: 100vw;
    }

    .container {
        display: block;
    }

    #canvas1, #canvas2 {
        width: 45vw;
        height: 45vw;
        display: inline-block;
    }

    #canvas3 {
        width: 45vw;
        height: 45vw;
        display: block;
        margin: auto;
    }
}

/* Theme-specific styles */
[data-theme="pastel"] {
    --color-light: #464B9A;
    --color-dark: #F6D0E3;
    --button-bg: #DA624F;
}

[data-theme="peach"] {
    --color-light: #EFEFEF;
    --color-dark: #DA624F;
    --button-bg: #2A5744;
}

[data-theme="forest"] {
    --color-light: #FBECAF;
    --color-dark: #2A5744;
    --button-bg: #D9D9D9;
}
